li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.icon {
  fill: rgba(255, 107, 9, 1);
  background: chartreuse;
}

.container {
  min-width: 320px;
  max-width: 480px;
  padding: 0 15px;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1316px) {
    max-width: 1280px;
  }
}

.logo {
  padding-top: 35px;
}
